button{  
  width: 350px;
  height: 56px;
  top: 556px;
  left: 520px;
  border-radius: 12px;
  border: 2px;
  background-color: white;
  color : #6066D0;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  border: 2px solid #6066D0B2;
}

button:hover{
  background-color: #F9A826  ;
}


.is-correct{
  background-color: #60BF88;
  
}
.is-incorrect{
  background-color: #EA8282;
}

.answers-container{
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  gap: 20px;
  display: flex;
  position: relative;


}




.action-next{
  width: 116px;
  height: 56px;
  top: 723px;
  left: 804px;
  border-radius: 12px;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
}
.button-inside{
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  }
  .text-button{
    flex-grow: 1;
    text-align: left; /
  }
  .check-error,.letter{
    width: 24px; 
    height: 24px; 
  display: flex;
  align-items: center;
  justify-content: center;
  
  }
  .letter{
    padding-right: 5px;
  }
