.action-btn {
  margin-top: 2rem;
}
.is-correct{
  background-color: green;
}
.is-incorrect{
  background-color: red;
}

.no-selected{
  background-color: grey;
  
  

}

button{
  margin: 5px;
  display: block;
  width: 300px;
}

button:hover{

background-color: black  ;
}