.action-btn {
  margin-top: 2rem;
}
.is-correct{
  background-color: green;
}
.is-incorrect{
  background-color: red;
}

.no-selected{
  background-color: white;
  border-color: blue;
  color: blue;
}

button{
  margin: 5px;
  display: block;
  width: 300px;
  background-color: white;
}

button:hover{

background-color: black  ;
}