.question{
color: #2F527B;
width: 373px;
height: 36px;
top: 320px;
left: 520px;
font-family: Poppins;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0em;
text-align: left;
white-space: nowrap;
}

